.outterContainerDisc{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}


.commonContiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 10% 0;
}

.commonContiner>div>h2{
    margin: 5% 0;
}

.commonContiner>div>table{
    border: 2px solid black;
    border-radius: 5px;
    padding: 3%;
    background-color: white;
}

.frogetPass{
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 0.9em;
}

.frogetPass:hover{
    color: blue;
    cursor: pointer;
}

.frogetPass:active{
    transform: scale(0.98, 0.98);
}
